<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.neelsatyavolu.infocus-drive.login</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/InFocusDrive</string>
	<key>ProgramArguments</key>
	<array>
		<string>Contents/MacOS/InFocusDrive</string>
		<string>--background</string>
	</array>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.github.neelsatyavolu.infocus-drive</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProcessType</key>
	<string>Interactive</string>
</dict>
</plist>
